.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 59px;
  background-image: url("/images/background_shape_1.svg");
  background-size: cover;
}

/* background-size: auto 50px, 100%;
background-position: bottom;
background-repeat: repeat-x; */

.header--big {
  height: 81px;
}

.title__header {
  margin: 0;
  text-transform: uppercase;
}

.label__header {
  margin: 4px 0;
}
