.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 15px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--boxshadow-grey);
}

.nav--links {
  padding: 0.5rem 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav--links path {
  fill: var(--denim-200);
}
.nav--links.active path{
   fill: var(--denim-100);
}