.nav {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  border: 1px solid #7589a2;
  box-shadow: 0px 2px 11px rgba(25, 50, 81, 0.203238);
}
